.form {

	&__container{
		margin: 50px 0 100px;
    border: 1px solid #ccc;
    padding: 15px;
	}

	&__row{
		padding: 30px 0;
		border-bottom: 1px solid #ccc;

		&:last-child{
			border:none;
		}
	}

  &__text{
  	align-self:center;

  	& > p{
  		margin-bottom: 0;
  	}
  }

  &__flex{
  	display: flex;
    align-items: center;
  	& > span {
  		display: block;
  		width: 150px;
  		padding-bottom: 25px;
  	}
  }

  &__color {
  	background-color: #ccc;
  }

  &__color-2{
  	background-color: #f1f1f1;
  	border-top:1px solid #ccc;

  	  	&:nth-child(2n) {
  					background-color: #e0e0e0;
  	  	}
  }

  &__color-3{
  	background-color: #e2dcdc!important;
  	border: none;
  }

  &__descriptions{
  	font-size: 12px;
  }

  &__result{
  	padding: 15px 0;

  	@media screen  and (min-width: 320px) and (max-width: 575px) {
  		font-size: 10px;
  	}
  }

  &__country{
  	width: 100%;
  }

  &__label{
  	margin: 0;
  }

  &__block-title{
  	font-weight: bold;
  	font-size: 12px;
  }

  &__footer{
  	span {
  		display: inline-block;
  		padding-right: 5px;
  	}
  }

  &__button-light{
  	margin-left: 5px;
  }

  &__coordinats{
  	border-top: 1px solid #ccc!important;
  }

  &__margin{
  	margin-bottom: 50px;
  }
		@media screen  and (min-width: 320px) and (max-width: 575px) {
			&__small-button{
				padding: 3px 6px!important;
				font-size: 10px!important;
			}

			&__size-button{
				font-size: 10px!important;
			}

			&__btn-secondary{
				font-size: 12px!important;
			}
		}



}
